@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
.header {
    height: 50px;
    background: #eee;
}
.footer {
    height: 100px;
    background: #e7f0ff;
}
.main {
    flex: 1 0 auto;
    overflow: auto;
    width: 100vw;
}

body{
    font-family: 'Roboto', sans-serif;
    background:
    radial-gradient(ellipse 300px 200px at 20% 30%, rgba(179, 208, 255, 0.35), transparent 80%),
    radial-gradient(ellipse 250px 180px at 80% 40%, rgba(144, 193, 253, 0.25), transparent 90%),
    radial-gradient(ellipse 100px 180px at 60% 70%, rgba(187, 211, 255, 0.25), transparent 90%),
    #fff;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}